<section class="ae-container-fluid rk-main">
	<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">

		<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

			<a *ngFor="let galleria of galleriaService.galleria" routerLink="/item" class="animate__animated animate__fadeIn rk-item ae-masonry__item">
				<img src="assets/galleria/{{ galleria.url }}.jpg" alt="" />
				
				<div class="item-meta">
					<h2>{{ galleria.titulo }}</h2>
					<p>{{ galleria.categoria }}</p>
				</div>
			</a>

		</div>
	
	</section>
</section>
